@media (max-width: 767px){
.center{
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}

.header{
    height: 700px;

    &__info{
        padding-top: 147px;
        width: 296px;
        align-items: center;
        
    }

    &__heading{
        text-align: center;
        font-size: 40px;
    }

    &__description{
        text-align: center;
        font-size: 16px;
        line-height: normal;
        padding-bottom: 12px;
    }

    &__button{
        width: 285px;
        box-sizing: border-box;
        font-size: 16px;
    }

    &__star1{
        left: 91px;
        top: 64px;
        width: 21px;
        height: 21px;
    }

    &__star2{
        left: 37px;
        top: 97px;
        width: 35px;
        height: 35px;
    }

    &__star3{
        left: 272px;
        top: 557px;
        width: 18px;
        height: 18px;
    }

    &__star4{
        left: 303px;
        top: 580px;
        width: 39px;
        height: 41px;

    }

    &__star5{
        display: none;
        
    }

    &__star-mob{
        display: block;
    }

    &__background-line{
        display: none;
    }
}

.main{
    display: none;
    &__heading{
        padding-top: 48px;
    }

    &__heading-name{
        display:none;
    }

    &__heading-name-mobile{
        display: block;
        color: #FFF;
        font-family: $primaryFont;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    &__heading-description{
        display: none;
    }

    &__games{
        padding-top: 48px;
        grid-template-columns: 1fr;
        gap: 24px;
        width: 343px;
    }

    &__image{
        width: 343px;
        height: 286px;
    }

    &__games-cards{
        display: flex;
    }

    &__games-cards-big{
        margin-top: 0px;
    }

    
}

.mini-games{
    padding-top: 48px;
    padding-bottom: 48px;
    

   
    &__heading{
    font-size: 40px;
    padding-bottom: 16px;
   }

   &__games{
    flex-direction: column;
    width: 343px;
   }

   &__image{
    display: none;
   }

   &__image-mobile{
    border-radius: 30px;
    display: block;
   }

   &__info{
    width: 285px;
    margin-left: 29px;
    margin-right: 29px;
    gap: 16px;
   }

   &__info-heading{
    font-size: 32px;
   }

   &__info-description{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
   }

   &__button{
    width: 285px;
    font-size: 16px;
    box-sizing: border-box;
    margin-top: 16px;
   }

}

.footer{
    height: 100px;
    
    &__copyright{
        font-size: 16px;
        padding-top: 40px;
    }
}

}